#header {
    min-width: 770px;
    height: 100px;
    padding: 0;
}

#logo {
    height: 80px;
    width: 370px;
}

#header ul li a {
    height: 100px;
    padding-top: 38px !important;
}

#header ul{
    margin-left: 10px;
}

#for-login {
    margin-top: 150px;
    width: 500px;
    padding: 20px;
}

#reg-but {
    float: right;
}

/*REGISTRATION PAGE*/
/*#i-agree {*/
    /*margin-top: 50px;*/
/*}*/